<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dell.petshow.vtas.mapper.SpUptimeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dell.petshow.vtas.entity.SpUptime">
		<id column="ID" property="id" />
		<result column="ARRAY_NAME" property="arrayName" />
		<result column="VERSION" property="version" />
		<result column="POLL_DATETIME" property="pollDatetime" />
		<result column="UPTIME" property="uptime" />
		<result column="SP" property="sp" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, ARRAY_NAME AS arrayName, VERSION AS version, POLL_DATETIME AS pollDatetime, UPTIME AS uptime, SP AS sp
    </sql>
    
    <select id="selectLatestOneByArray" resultType="com.dell.petshow.vtas.entity.SpUptime" resultMap="BaseResultMap">
    	SELECT * 
    	FROM sp_uptime 
    	where array_name=#{arrayName} 
    	order by POLL_DATETIME desc 
    	limit 0,1
    </select>
    
    <select id="selectLatestOneByArrayAndSPType" resultType="com.dell.petshow.vtas.entity.SpUptime" resultMap="BaseResultMap">
    	SELECT * 
    	FROM sp_uptime 
    	where array_name=#{arrayName} and sp=#{spType}
    	order by POLL_DATETIME desc 
    	limit 0,1
    </select>
    
    <!-- new add for vs build -->
    <select id="selectDistinctArrayListByProgram" resultType="java.lang.String">
    	SELECT distinct ARRAY_NAME 
    	FROM sp_uptime
    	WHERE version like CONCAT(#{bigVersion},'.%') order by ARRAY_NAME asc
    </select>
    
    <select id="selectMaxHourByProgramAndArray" resultType="java.util.Map">
    	select a.version version,min(a.maxrunhour) minmaxhour
		from
		(SELECT VERSION,max(UPTIME) maxrunhour,SP FROM sp_uptime 
		where VERSION like CONCAT(#{bigVersion},'.%') and ARRAY_NAME = #{arrayName} group by version,sp order by maxrunhour desc ) a 
		group by a.version order by minmaxhour desc,version desc limit 0,1
    </select>
    
</mapper>
