<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dell.petshow.system.mapper.PetCpuHourMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dell.petshow.system.entity.PetCpuHour">
		<id column="id" property="id" />
		<result column="product_id" property="productId" />
		<result column="gmt_generate" property="gmtGenerate" />
		<result column="cpu_utilization" property="cpuUtilization" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, gmt_generate, cpu_utilization
    </sql>
    
    <select id="selectLastestRecord" resultMap="BaseResultMap" resultType="com.dell.petshow.system.entity.PetCpuHour">
    	select product_id,max(gmt_generate) gmt_generate 
    	from pet_cpu_hour
		group by product_id
    </select>
    
    <select id="getLastestInsertTimeByProductId" resultType="java.util.Date">
    	select max(gmt_generate) gmt_generate 
    	from pet_cpu_hour
    	where product_id = #{productId}
		group by product_id
    </select>
</mapper>
