<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="error-page">
       <div>
        <h2 class="headline text-yellow">  <i class="fa fa-warning text-yellow"></i> illegalAccess</h2>
        <p> Access link: <a href="${url!}">${url!}</a>.
        <p> You do not have permission, click <a href="/index.html">Here</a> to Home page.
        </p>
      </div><!-- /.error-content -->
    </div><!-- /.error-page -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>