<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>VTAS > File Management -- ${(fileName)!}</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
     <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
        	<div class="row">
        	  <div class="col-md-12">
        	   <iframe src="http://10.207.120.10:8888/zssapp/#${(fileName)!}" frameborder="0" style="display: block; border: none;height: 85vh;width: 100%;"></iframe>
        	  </div>
        	</div>
        </div>
        <!-- /.box -->
      </div><!--/.col (left) -->
     </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>