<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dell.petshow.vtas.mapper.ProgramMapMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dell.petshow.vtas.entity.ProgramMap">
		<id column="MAJOR_VERSION" property="majorVersion" />
		<result column="PROGRAM" property="program" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MAJOR_VERSION AS majorVersion, PROGRAM AS program
    </sql>
</mapper>
