<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dell.petshow.vtas.mapper.SpUptimeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dell.petshow.vtas.entity.SpUptime">
		<id column="ID" property="id" />
		<result column="ARRAY_NAME" property="arrayName" />
		<result column="VERSION" property="version" />
		<result column="POLL_DATETIME" property="pollDatetime" />
		<result column="UPTIME" property="uptime" />
		<result column="SP" property="sp" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, ARRAY_NAME AS arrayName, VERSION AS version, POLL_DATETIME AS pollDatetime, UPTIME AS uptime, SP AS sp
    </sql>
</mapper>
