<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nokia.netactplus.system.mapper.SysSettingMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.nokia.netactplus.system.entity.SysSetting">
		<id column="id" property="id" />
		<result column="sys_key" property="sysKey" />
		<result column="sys_name" property="sysName" />
		<result column="sys_value" property="sysValue" />
		<result column="sort" property="sort" />
		<result column="sys_desc" property="sysDesc" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sys_key, sys_name, sys_value, sort, sys_desc, gmt_create, gmt_modified
    </sql>
</mapper>
