<header class="main-header">
 <!-- Logo -->
 <a href="/index.html" class="logo">
   <!-- mini logo for sidebar mini 50x50 pixels -->
   <span class="logo-mini"><b>${(systemSubName)!'N+'}</b></span>
   <!-- logo for regular state and mobile devices -->
   <span class="logo-lg"><b>${(systemName)!'NetActPlus'}</b></span>
 </a>

 <!-- Header Navbar -->
 <nav class="navbar navbar-static-top" role="navigation">
   <!-- Sidebar toggle button-->
   <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
   <!-- Navbar Right Menu -->
   <div class="navbar-custom-menu">
     <ul class="nav navbar-nav">
       <#if currentUser.userStatus==-1>
           <li>
	         <a href="/login/" class="dropdown-toggle" data-toggle="tooltip" title="Admin Login" data-placement="bottom">
	           Admin Login
	         </a>
	       </li>
	   <#else>
           <!-- User Account Menu -->
	       <li class="dropdown user user-menu">
	         <!-- Menu Toggle Button -->
	         <a href="/system/user/usrInfo" class="dropdown-toggle" data-toggle="tooltip" title="Admnin" data-placement="bottom">
	           <img src="${(currentUser.avatar)!}" class="user-image" alt="User Image">
	           <span class="hidden-xs">${(currentUser.userName)!'Visitor'}</span>
	         </a>
	       </li>
	       <li>
	         <a href="/login/logout.html" class="dropdown-toggle" data-toggle="tooltip" title="退出" data-placement="bottom">
	           <i class="fa fa-sign-out"></i>
	         </a>
	       </li>
	       <li style="width: 30px;">
	       </li>
   	   </#if>
      </ul>
    </div>
  </nav>
</header>