<aside class="main-sidebar">
 <!-- sidebar: style can be found in sidebar.less -->
 <section class="sidebar">
   <!-- Sidebar user panel (optional) -->
   <div class="user-panel">
     <div class="pull-left image">
       <img src="${(currentUser.avatar)!}" class="img-circle">
     </div>
     <div class="pull-left info">
       <p>${(currentUser.userName)!'Visitor'}</p>
       <!-- Status -->
       <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
     </div>
   </div>
   <!-- /.search form -->

   <!-- Sidebar Menu -->
   <ul class="sidebar-menu">
     <!-- Optionally, you can add icons to the links -->
     <li>
          <a href="/index">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
     </li>
     <#if menuList??>
	     <#list menuList as vo>
	         <#if currentUser.userName??&&currentUser.userName!='Visitor'>
	         	<li class="treeview <#if res?? && vo.perm.id==res?number> active </#if> " >
	         <#else>
	            <li class="treeview active">
	         </#if>
		       <a href="#"><i class="fa ${(vo.perm.icon)!}"></i> 
		       <span>${(vo.perm.permName)!}</span>  
		       <i class="fa fa-angle-left pull-right"></i>
		       </a>
		       <ul class="treeview-menu">
		         <#list vo.childrenPerm as ch>
		         	<#if ch.perm.permCode == "9999" >
					  <li><a href="${(ch.perm.url)!}?p=${(vo.perm.id)!}&t=${(ch.perm.id)!}" style="<#if cur?? && ch.perm.id==cur?number> color: white </#if>" target="_blank" ><i class="fa ${(ch.perm.icon)!}"></i>${(ch.perm.permName)!}</a></li>
					<#else>
					  <li><a href="${(ch.perm.url)!}?p=${(vo.perm.id)!}&t=${(ch.perm.id)!}" style="<#if cur?? && ch.perm.id==cur?number> color: white </#if>"><i class="fa ${(ch.perm.icon)!}"></i>${(ch.perm.permName)!}</a></li>
					</#if>
		         </#list>
		       </ul>
		     </li>
	     </#list>
     </#if>
   </ul><!-- /.sidebar-menu -->
 </section>
 <!-- /.sidebar -->
</aside>