<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      	Dashboard
      <small>Control panel</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
	
	<div class="row">
		<#list listOne as program>
			<div class="col-lg-2 col-xs-3">
	          <!-- small box -->
			  <#switch program_index>
			  <#case 0>
			  <div class="small-box bg-aqua">
			  <#break>
			  <#case 1>
			  <div class="small-box bg-green">
			  <#break>
			  <#case 2>
			  <div class="small-box bg-yellow">
			  <#break>
			  <#case 3>
			  <div class="small-box bg-red">
			  <#break>
			  <#case 4>
			  <div class="small-box bg-navy">
			  <#break>
			  <#case 5>
			  <div class="small-box bg-purple">
			  <#break>
			  <#default>
			  <div class="small-box bg-teal">
			  </#switch>
	            <div class="inner">
	              <h4>${program["programCount"]} </h4>
				  <#list program['versionCount']?split(";") as x>
					<p>${x}</p>
					</#list>
	            </div>
	          </div>
	        </div>
	        <!-- ./col -->
		</#list>
    </div><!-- /.row -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
<script src="/my/index.js"></script>
</@footer>