<#include "/common/layout.html"> <@header>
<link rel="stylesheet"
	href="/plugins/bootstrap-table/bootstrap-table.css">
</@header>
<body>
	<div>
		<div id="createMO" class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<#if "${dnType}"== "mrc" >
				<li class="active"><a href="#tab_mr" data-toggle="tab">MR</a></li>
				<#else>
				<li class="active"><a href="#tab_mr" data-toggle="tab">MRC</a></li>
				</#if>
				<li><a href="#tab_plmn" data-toggle="tab">PLMN</a></li>
				<#if "${dnType}"!="empty" && "${dnType}"!="mrc">
					<li><a href="#tab_ne" data-toggle="tab">Managed Object</a></li>
				</#if>
			 	<#if "${dnType}"=="agent">
					<li><a href="#tab_if" data-toggle="tab">Interface</a></li>
				</#if>
			</ul>
			<div class="tab-content">

				<div class="tab-pane active" id="tab_mr">
					<div class="row">
						<div class="col-md-4">
							<form id="form1" role="form"
								data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}"
								method="post" action="#">
								<div class="box-body">
									<div class="form-group">
										<label for="instanceId">Instance</label> <input type="text"
											name="instance_id" placeholder="Please input instance "
											data-rule="instance_id:required;">
									</div>
								</div>
								<!-- /.box-body -->
								<div class="box-footer">
									<button type="submit" class="btn btn-success">
										<i class="fa fa-save"></i> Ok
									</button>
									<a class="btn btn-default" id="mr_cancel"><i
										class="fa fa-close"></i> Cancel</a>
								</div>
							</form>
						</div>
					</div>

				</div>
				<!-- /.tab-pane -->

				<div class="tab-pane" id="tab_plmn">
					<div class="row">
						<div class="col-md-4">
							<form role="form" id="form2"
								data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}"
								method="post" action="#">
								<div class="box-body">
									<div class="form-group">
										<label for="instanceId">Instance</label> <input type="text"
											name="instance_id" placeholder="Please input instance "
											data-rule="instance_id:required;">
									</div>
								</div>
								<!-- /.box-body -->
								<div class="box-footer">
									<button type="submit" class="btn btn-success">
										<i class="fa fa-save"></i> Ok
									</button>
									<a class="btn btn-default" id="plmn_cancel"><i
										class="fa fa-close"></i> Cancel</a>
								</div>
							</form>
						</div>
					</div>

				</div>

				<!-- /.tab-pane -->
				<#if "${dnType}"!="empty" && "${dnType}"!="mrc">
				<div class="tab-pane" id="tab_ne">
					<div class="row">
						<div class="col-md-4">
							<form role="form" id="form3"
								data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}"
								method="post" action="#">
								<div class="box-body">
									<div class="form-group">
										<label>Object Class</label> <select id="ManagedObject"
											name="ManagedObject" class="form-control select2"
											style="width: 40%;" required>
											
										</select>
									</div>
									<!-- /.form-group -->
									<div class="form-group">
										<label for="instanceId">Instance</label> <input type="text"
											name="instance_id" placeholder="Please input instance "
											data-rule="instance_id:required;">
									</div>
									<div class="form-group">
										<label for="version">Version</label> <input type="text"
											name="version" placeholder="Please input version"
											data-rule="version:required;">
									</div>
									<div class="form-group">
										<input name="isAgent" type="checkbox" class="minimal checkbox-toolbar"><label for="version">Assign as self agent</label> 
									</div>
								</div>
								<!-- /.box-body -->
								<div class="box-footer">
									<button type="submit" id="ne_ok" class="btn btn-success">
										<i class="fa fa-save"></i> Ok
									</button>
									<a class="btn btn-default" id="ne_cancel"><i
										class="fa fa-close"></i> Cancel</a>
								</div>
							</form>
						</div>
					</div>
				</div>
				</#if>
				<!-- /.tab-pane -->
 				<#if "${dnType}"=="agent">
				<div class="tab-pane" id="tab_if">
					<div class="row">
						<div class="col-md-4">
							<form id="form4" role="form"
								data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}"
								method="post" action="#">
								<div class="box-body">
									<div class="form-group" id="">
										<label>Object Class</label> <select id="IfObject"
											name="IfObjectSel" class="form-control select2"
											style="width: 40%;" required>
										</select>
									</div>
									<div id="IfAttribute"/>
								</div>
								<!-- /.box-body -->
								<div class="box-footer">
									<button type="submit" class="btn btn-success" >
										<i class="fa fa-save"></i> Ok
									</button>
									<a class="btn btn-default" id="if_cancel"><i
										class="fa fa-close"></i> Cancel</a>
								</div>
							</form>
						</div>
					</div>

				</div>
				</#if> 
			</div>
		</div>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
<@footer>
<script src="/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="/my/base_list.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script src="/my/webmonitor/nasda.js"></script>
<script src="/my/webmonitor/createobj.js"></script>
</@footer>
